p {
  width: 80em;
  font-family: 'font-p';
}

h1 {
  font-family: 'font-titre';
  color: green;
}
@font-face {
  font-family: 'font-p';
  src: url("fonts/amatic/Amatic-Bold.ttf");
 }
@font-face {
  font-family: 'font-titre';
  src: url("fonts/ostrich-sans/ostrich-regular.ttf");
}
